.swiperContainer {
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFF4F8;

    .swiperContent {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 10rem;
            height: 10rem;
            object-fit: cover;
        }
    }
}