.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/assets/hero/background.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40rem;
    object-fit: cover;

    h3 {
        color: #5E9A13;
        font-weight: bold;
        margin-top: 0.5rem;
        margin-bottom: 6rem;
    }
}