.form {
  max-width: 50rem; 
  margin: 2em auto; 
  padding: 20px; 
  background-color: #f9f9f9; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  div {
    margin-bottom: 1rem;
  }

  label {
    display: block;
    font-size: 1.6rem; 
    margin-bottom: 0.3rem; 
  }

  input[type="text"], input[type="number"], input[type="file"] {
    width: 100%; 
    padding: 1rem; 
    border: 1px solid #ccc;
    border-radius: 1rem; 
    font-size: 1.7rem; 
    box-sizing: border-box; 
    cursor: pointer;
    outline: none;
    font-family: "Baskervville", serif;
  }
}

.previewImage {
  margin: 1rem 1rem 1rem 0.3rem;
}