/* Mobile-first */
.orderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 3rem;

    .orderContent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 3rem;

        .orderContentText {
            text-align: center;
            margin-bottom: 5rem;

            h2 {
                font-size: 3rem;
                margin-bottom: 1rem;
            }

            h3 {
                font-size: 2.6rem;
                font-weight: 500;
                max-width: 30rem;
            }
        }
        
        form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: #EFF4F8;
            padding: 3rem;
            max-height: 50rem;
            width: 100%;
            text-align: center;

            .orderForm {
                display: flex;
                justify-content: center;
                flex-direction: column;
                background-color: #fff;
                padding: 1rem;
                max-height: 30rem;

                ul {
                    text-decoration: none;
                    list-style-type: none;

                    .formContainer {
                        display: flex;
                        justify-content: left;
                        align-items: center;

                        img {
                            height: 8rem;
                            width: 8rem;
                        }
    
                        .formContent {
                            display: flex;
                            justify-content: left;
                            align-items: start;
                            
                            .formContentOrder {
                                display: flex;
                                justify-content: center;
                                align-items: start;
                                flex-direction: column;
    
                                .formContentProduct {
                                    font-weight: 700;
                                }
    
                                .formContentPrice {
                                    color: #5E9A13;
                                }
                            }
    
                            .formContentRemove {
                                background-color: #5E9A13;
                                padding: 0.6rem 0.5rem 0.2rem 0.5rem;
                                border: #5E9A13;
                                border-radius: 100%;
                                margin-left: 6rem;
                                cursor: pointer;

                                div {
                                    font-size: 1.5rem;
                                    font-weight: 700;
                                    color: #fff;
                                }
                            }

                            .formContentRemove:hover {
                                background-color: #4c7e0f;
                                transition: 0.4s ease-in-out;
                            }
                        }
                    }
                }

                .formTotal {
                    display: flex;
                    justify-content: right;
                    align-items: center;

                    .total {
                        color: #4c7e0f;
                        margin-right: 2rem;
                    }
                }
            }

            .formIAlt {
                display: flex;
                justify-content: right;
                background-color: #fff;
                padding: 1rem;
                width: 100%;
                margin: 2rem 0 2rem 0;

                .alt {
                    color: #4c7e0f;
                    margin-right: 2rem;
                }
            }

            input {
                border: #fff;
                padding: 1rem;
                width: 100%;
                font-size: 1.7rem;
                outline: none;
                font-family: "Baskervville", serif;
            }

            .submitButton {
                padding: 1rem 10rem 1rem 10rem;
                background-color: #5E9A13;
                border: #5E9A13;
                color: #fff;
                cursor: pointer;
                text-align: center;
                margin-top: 1rem;
                font-size: 1.7rem;
                font-family: "Baskervville", serif;
            }

            .submitButton:hover {
                background-color: #4c7e0f;
                transition: 0.4s ease-in-out;
            }
        }
        
    }
}


/* Desktop */
@media (min-width: 768px) {
    .orderContainer {
        .orderContent {
            .orderContentText {
                h3 {
                    max-width: 100%;
                }
            }
            
            form {
                width: 130rem;
    
                .orderForm {
                    width: 80rem;
    
                    ul {
                        .formContainer {
                            img {
                                height: 10rem;
                                width: 10rem;
                            }
                        }
                    }
                }
    
                .formIAlt {
                    width: 80rem;
                }
    
                input {
                    width: 90rem;
                }

                .submitButton {
                    width: 90rem;
                }
            }
            
        }
    }
}