.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem;

    .formContent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #EFF4F8;
        width: 85vw;
        padding: 2rem 0 2rem 0;

        h3 {
            font-size: 2rem;
            padding-bottom: 1.5rem;
        }

        form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            input {
                border: #fff;
                padding: 1rem 6rem 1rem 2rem;
                width: 100%;
                margin: 1rem;
                font-size: 1.7rem;
                outline: none;
                border: transparent;
                border-radius: 1rem;
                font-family: "Baskervville", serif;
            }

            textarea {
                border: #fff;
                padding: 1rem 6rem 5rem 2rem;
                width: 100%;
                margin: 1rem;
                font-size: 1.7rem;
                outline: none;
                border: transparent;
                border-radius: 1rem;
                resize: none;
                font-family: "Baskervville", serif;
            }
        }
    }
}