/* Mobile-first */
.productsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 4rem 0 4rem 0;

    .productsText {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 3rem;
        text-align: center;
        gap: 1rem;

        h2 {
            font-size: 3.5rem;
            margin-top: 3rem;
            max-width: 20rem;
        }

        h3 {
            font-weight: 400;
            font-size: 3rem;
            max-width: 30rem;
        }

        p {
            font-size: 1.7rem;
            max-width: 28rem;
            line-height: 1.4;
        }
    }

    .productsSort {
        display: flex;
        justify-content: right;
        align-items: center;
        padding: 2rem;
        background-color: #2a4f5711;
        width: 100%;

        .productsSortIcon {
            color: #5E9A13;
            font-size: 2rem;
            cursor: pointer;
        }

        .alphabetDropdown {
            position: absolute;
            margin-top: 77rem; 
            right: 0;
            background: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column; 
            width: max-content;
            padding: 0.5rem;
            z-index: 10; 
        }
        
        .alphabetDropdown span {
            padding: 0.5rem 1rem;
            cursor: pointer;
            transition: 0.2s ease-in-out;
        }
        
        .alphabetDropdown span:hover {
            background: #f0f0f0;
        }
    }

    .productsCards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 3rem;
        margin-top: 4rem;

        .productsBorder {
            box-shadow: 2px 2px 8px rgb(197, 197, 197);

            .productsCard {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 3rem;
                background-color: #EFF4F8;
                height: 40rem;
                width: 30rem;
                margin: 1rem;
                gap: 1rem;
    
                .procent {
                    padding: 1rem 2rem 1rem 2rem;
                    background-color: #5E9A13;
                    color: #fff;
                    border: #5E9A13;
                    border-radius: 10rem;
                    margin-right: -20rem;
                }
    
                img {
                    height: 15rem;
                    object-fit: cover;
                }
    
                h3 {
                    font-weight: 500;
                }
    
                h2 {
                    color: #5E9A13;
                    font-size: 3rem;
                }
            }
        }
    }
}


/* Desktop */
@media (min-width: 768px) {
    .productsContainer {    
        .productsText {
            h2 {
                max-width: 100%;
                font-size: 4rem;
            }
    
            h3 {
                font-weight: 400;
                font-size: 3rem;
                max-width: 30rem;
            }
    
            p {
                max-width: 60rem;
                margin-bottom: 4rem;
            }
        }
    
        .productsCards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            place-content: center center;
            gap: 10rem;
            margin-bottom: 10rem;
    
            .productsBorder {
                box-shadow: 2px 2px 8px rgb(197, 197, 197);
    
                .productsCard {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 3rem;
                    background-color: #EFF4F8;
                    height: 40rem;
                    width: 30rem;
                    margin: 1rem;
                    gap: 1rem;
        
                    .procent {
                        padding: 1rem 2rem 1rem 2rem;
                        background-color: #5E9A13;
                        color: #fff;
                        border: #5E9A13;
                        border-radius: 10rem;
                        margin-right: -20rem;
                    }
        
                    img {
                        height: 15rem;
                        object-fit: cover;
                    }
        
                    h3 {
                        font-weight: 500;
                    }
        
                    h2 {
                        color: #5E9A13;
                        font-size: 3rem;
                    }
                }
            }
        }
    }
}